/* Import the pywal CSS file.
   @import url('file:///home/{YOUR_USERNAME_HERE}/.cache/wal/colors.css');
*/

html {
    background-color: #2f2f2f;
    color: #eee;
    /* PYWAL COLORS
    background-color: var(--color0);
    color: var(--color3);
    */
    font-family: 'DejaVu Sans';
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    font-size: 4rem;
    font-weight: 300;
}

.flex {
    display: flex;
    align-content: center;
    justify-content: center;
}

.search-container {
    height: 9rem;
    width: 100%;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.search-container .search {
    border: none;
    height: 3rem;
    width: 40rem;
    font-size: 3rem;
    background-color: #eee;
    /* PYWAL COLORS
    background-color: var(--color1);
    */
    padding: 3rem;
}

.hidden {
    visibility: hidden;
    display: none;
}

a {
   text-decoration: none; 
   font-family: 'DejaVu Sans';
   font-weight: 300;
}

a:visited {
    color: inherit;
}

a:link {
    color: inherit;
}

/* PYWAL COLORS
.one {
    color: var(--color1);
}

.two {
    color: var(--color2);
}

.three {
    color: var(--color3);
}

.four {
    color: var(--color4);
}

.five {
    color: var(--color5);
}
*/