/* Import the pywal CSS file. */
   @import url('file:///home/erkki/.cache/wal/colors.css');

html {
    background-color: var(--color0);
    color: var(--color3);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    font-size: 4rem;
}

.flex {
    display: flex;
    align-content: center;
    justify-content: center;
}

.search-container {
    height: 9rem;
    width: 100%;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.search-container .search {
    border: none;
    height: 3rem;
    width: 40rem;
    font-size: 3rem;
    background-color: var(--color1);
    padding: 3rem;
}

.hidden {
    visibility: hidden;
    display: none;
}

a {
   text-decoration: none; 
}

a:visited {
    color: inherit;
}

a:link {
    color: inherit;
}

.one {
    color: var(--color1);
}

.two {
    color: var(--color3);
}

.three {
    color: var(--color4);
}

.four {
    color: var(--color5);
}